#intro {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }
.col-md-right-cntxt {
    text-align:right;
}
.col-md-left-cntct {
    text-align:right;
    display: block;
    float: left;
    width: 66.666666%;
    margin-left:0px;
    margin-right:0px;
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-right-cntct {
    text-align:left;
    display: block;
    float: left;
    width: 33.333333%;
    margin-left:0px;
    margin-right:0px;
    padding-left: 15px;
    padding-right: 15px;
}

.faul {
    margin-left:0px;
    list-style-type: none;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .intro {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .intro {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }