
  <ul class="faul">
<p class="lead"><h4>Links</h4></p>
                      {% if site.twitter_username %}
                    <li>
 <a href="https://twitter.com/{{ site.twitter_username }}"  data-toggle="tooltip" title="Twiiter" style="
color:#877070;font-size:.25em;text-decoration:none;">
       <span class="fa-stack fa-lg">
           <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" data-toggle="tooltip" title="Facebook" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
           <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>

                    </li>
                    {% endif %}

                    {% if site.github_username %}
                    <li>
   <a href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" title="Github" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>
                    </li>
                   {% endif %}

{% if site.instagram_username %}
                    <li>
   <a href="https://instagram.com/{{ site.instagram_username }}" data-toggle="tooltip" title="Instagram" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>
                    </li>
                   {% endif %}

{% if site.flickr_username %}
                    <li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" data-toggle="tooltip" title="Flickr" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>
                    </li>
                   {% endif %}

{% if site.500px_username %}
                    <li>
   <a href="https://500px.com/{{ site.500px_username }}" data-toggle="tooltip" title="500px" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-500px fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>
                    </li>
                   {% endif %}

{% if site.deviantart_username %}
                    <li>
   <a href="http://{{ site.deviantart_username }}.deviantart.com" data-toggle="tooltip" title="Deviantart" style="
color:#877070;font-size:.25em;text-decoration:none;">
         <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-deviantart fa-stack-1x fa-inverse"></i>
                     </span>
                        </a>
                    </li>
                   {% endif %}


     <li>
    <a href="mailto:mad@ness.com" data-toggle="tooltip" target="_blank" title="Email" style="
color:#877070;font-size:.25em;text-decoration:none;">
      <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i> 
              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i></span>
    </a> </li>

    
                </ul>

